<%= form_for :session do |f| %>
  <% if flash[:error] %>
    <p> <%= flash[:error] %></p>
  <% end %>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit value:"Login" %>
  </p>
<% end %>
