<!DOCTYPE html>
<html>
<head>
  <title>TNA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	  <nav>
    
    <h1>Traveling Nurses Application</h1>
    <ul>
      <% if session[:user_id] %><li><i class="fa fa-wheelchair"></i><%= link_to 'Patients', patients_path %></li>
     
      <li> <i class="fa fa-ambulance"></i><%= link_to 'Logout', logout_path, method: :delete %></li>
      <% else %>
      <li><i class="fa fa-stethoscope"></i><%= link_to 'Login', login_path %></li>
      <li><i class="fa fa-stethoscope"></i> <%= link_to 'Signup', signup_path %></li>
      <% end %>

    </ul>
 		 <% if session[:user_id] %>
 		 <% @user = User.find(session[:user_id]) %>
    <div class="hello"><h3>Hello <%= @user.username %>!</h3></div>
   	<% end %>
 	 </nav>


<p><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
